fastapi[standard]
uvicorn
httpx
scikit-learn
beautifulsoup4
tldextract==5.1.1
idna==3.7
python-Levenshtein==0.25.0
dnspython
python-whois
cryptography
redis
joblib
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[argon2]
python-multipart
email-validator
certifi