fastapi[standard]
uvicorn
httpx
scikit-learn
beautifulsoup4
tldextract
idna
python-levenshtein
dnspython
python-whois
cryptography
redis
joblib

motor           # MongoDB Driver
python-jose[cryptography]  # JWT Tokens
passlib[bcrypt] # Password Hashing
python-multipart # Form data for login
email-validator