@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F8FAFC; 
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  text-align: left; /* Essential to keep the dashboard from centering awkwardly */
}