
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #fcfcfc;
}

body {
  margin: 0;
  display: block; 
  min-height: 100vh;
}